<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.adefault.simak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfilPenyewaActivity">
        </activity>
        <activity
            android:name=".ProfilPemilikActivity"
            android:label="@string/title_activity_profil_pemilik"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity
            android:name=".StatusPenyewaActivity"
            android:label="@string/title_activity_bayar"
            android:parentActivityName=".HomePemilikActivity">
            <meta-data
                android:name="android.support.PARENT_Activity"
                android:value=".HomeUser"/>
        </activity>
        <activity android:name=".SignupActivity"/>
        <activity android:name=".HomePemilikActivity"/>
        <activity android:name=".EditLokasiActivity">
        </activity>
        <activity android:name=".TunggakanPemilikActivity"/>
        <activity android:name=".VerifikasiPenyewaActivity"/>
        <activity android:name=".DaftarLokasiActivity"/>
        <activity android:name=".PengumumanPemilikActivity"/>
        <activity android:name=".KeluhanPemilikActivity"/>
        <activity android:name=".PembayaranPemilikActivity"/>
    </application>

</manifest>